.default-button {
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem gray;
    border: none;
    max-width: 10rem;
    min-width: 6rem;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    font-size: 1rem;
}

.default-button:hover {
    background-color: darkgreen;
    color: white;
}