.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0rem;
}


.navbarIcon {
    width: 10rem;
    margin-left: 1rem;
    cursor: pointer;
}


.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-sandwish {
    display: none;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.nav-list {
    display: none;
}



@media only screen and (min-width: 768px) {
    .navLink {
        margin-right: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    .nav-sandwish {
        display:block;
        z-index: 10;
    }
    .navLink {
        display: none;
    }

    .nav-list {
        position: absolute;
        right:calc(30px - 100%);
        top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition:0.4s;
        -webkit-transition:0.4s;
        -moz-transition:0.4s;
    } 

    .nav-list-Link {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    /*
    .nav-sandwish:hover + .nav-list, .nav-list:hover {
        right:0;
    }*/

    .show {
        right:0;
    }



    
}
